@{
    ViewData["Title"] = "Public Error";
}
<div class="container-fluid mt-4">
    <div class="card">
        <div class="card-header bg-danger text-white text-left">
            <h6></h6>
        </div>
        <div class="card-body form-card-body">
            <h1 class="text-danger">Error.</h1>
            @* <h2 class="text-danger">An error occurred while processing your request.</h2>
            <h5 class="text-danger">Please contact with support team!</h5> *@
            <hr />
            <h3>Exception Details:</h3>
            <div class="alert alert-danger">
                <h5>Exception Path</h5>
                <hr />
                <p>@ViewBag.ExceptionPath</p>
            </div>
            <div class="alert alert-danger">
                <h5>Exception Message</h5>
                <hr />
                <p>@ViewBag.ExceptionMessage</p>
            </div>
            @* <div class="alert alert-danger">
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <h5>Exception Stack Trace</h5>
                    </div>
                    <div class="col-sm-6 text-right">
                        <a href="#ExceptionStackTrack" data-toggle="collapse"><i class="fa fa-angle-down fa-2x alert-danger" aria-hidden="true"></i></a>
                    </div>
                </div>
                
                <hr/>
                <p id="ExceptionStackTrack" class="collapse">@ViewBag.ExceptionStackTrace</p>
            </div> *@
        </div>
    </div>
</div>