@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<section class="content">
    <div class="container-fluid">
        <div style="color:forestgreen;padding:10px; text-align:justify">
            <div class="pt-5" style="text-align: center;">
                <div class="section-title">
                    <h3 style="font-size: 40px;">
                        @* <b style="color: black;">Welcome To</b> *@ <b style="color: #005578;">
                            Zara Zaman Technology Ltd.
                        </b>
                    </h3>
                    <p><span style="color:black; text-transform:uppercase; font-size:14px;">"Innovating Technology Solutions for Enterprises and Financial Institutions"</span></p>
                </div>
                <br />
                <img style="width:220px; height:auto;" src="~/kgfile/ZaraZaman.png" />
            </div>
        </div>
    </div>
</section>
