@model app.Services.AssetItemServices.AssetItemViewModel
@{
    ViewData["Title"] = "UpdateRecord";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center  pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Index">Home</a></li>
                <li class="breadcrumb-item active"> Asset Item </li>
            </ol>
            <div>
                <a asp-action="Search"><i class="fa fa-list"></i> Asset Item List </a>
            </div>
        </div>
    </div>
</div>



<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-info">
                    <i class="fas fa-edit"></i>
                    Update Asset Item
                </h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="UpdateRecord" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            @Html.HiddenFor(model => model.ProductTypeId)

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Category</label>
                                        <select class="form-control" asp-for="CategoryId" asp-items="ViewBag.AssetCategories">
                                            <option value="0" selected>--Select Category--</option>
                                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Name" class="control-label"></label>
                                        <input asp-for="Name" class="form-control" required />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Unit</label>
                                        <select class="form-control" asp-for="UnitId" asp-items="ViewBag.Unit">
                                            <option value="0" selected>--Select Unit--</option>
                                            <span asp-validation-for="UnitId" class="text-danger"></span>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label asp-for="Description" class="control-label"></label>
                                        <textarea asp-for="Description" class="form-control" rows="2"></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" style="float:right">
                                <input type="submit" value="Update" class="btn btn-warning" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#Asset-Management').addClass('menu-open');
            $('#AssetItemSearch').addClass('active');
        });
    </script>
}





