@model app.Services.SalesTermsAndConditonServices.SalesTermsAndConditionViewModel
@{
    ViewData["Title"] = "AddRecord";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center  pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Index">Home</a></li>
                <li class="breadcrumb-item active">All Terms & Conditon</li>
            </ol>
            <div>
                <a asp-action="Search"><i class="fa fa-list"></i> All Terms & Conditon</a>
            </div>
        </div>
    </div>
</div>



<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-info">
                    <i class="fas fa-plus"></i>
                    All Terms & Conditon
                </h3>
            </div>
            <div class="card-body">
                <form asp-action="AddRecord" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="Key" class="control-label"></label>
                                <input asp-for="Key" class="form-control" required />
                                <span asp-validation-for="Key" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <label asp-for="Value" class="control-label"></label>
                            <textarea asp-for="Value" class="form-control" required rows="1"></textarea>
                            <span asp-validation-for="Value" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="form-group mt-2" style="float:right">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#Configuration').addClass('menu-open');
            $('#JobStatusAddRecord').addClass('active');
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

