@model app.Services.ProductServices.ProductViewModel
@{
    ViewData["Title"] = "AddRecord";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .checkbox-container {
        display: flex;
        justify-content: flex-end;
    }

    .checkbox-item {
        margin-right: 10px;
    }
</style>

<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center  pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Index">Home</a></li>
                <li class="breadcrumb-item active"> Product List </li>
            </ol>
            <div>
                <a asp-action="Index"><i class="fa fa-list"></i>  Product List </a>
            </div>
        </div>
    </div>
</div>



<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-info">
                    <i class="fas fa-plus"></i>
                    Add Product
                </h3>

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="AddRecord" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Category</label>
                                        <select class="form-control" asp-for="CategoryId" asp-items="ViewBag.ProductCategories" required>
                                            <option value="0" selected>--Category--</option>
                                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Name" class="control-label"></label>
                                        <input asp-for="Name" class="form-control" required />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Unit</label>
                                        <select class="form-control" asp-for="UnitId" asp-items="ViewBag.Units" required>
                                            <option value="0" selected>--Unit--</option>
                                            <span asp-validation-for="UnitId" class="text-danger"></span>
                                        </select>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="TradePrice" class="control-label"></label>
                                        <input asp-for="TradePrice" class="form-control" required />
                                        <span asp-validation-for="TradePrice" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="SalePrice" class="control-label"></label>
                                        <input asp-for="SalePrice" class="form-control" required />
                                        <span asp-validation-for="SalePrice" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Description" class="control-label"></label>
                                        <textarea asp-for="Description" class="form-control" required rows="1"></textarea>
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="checkbox-container">
                                <div class="checkbox-item">
                                    <label>
                                        <input type="checkbox" asp-for="HasWarranty" /> Warranty
                                    </label>
                                </div>
                                <div class="checkbox-item">
                                    <label>
                                        <input type="checkbox" asp-for="HasSerialNo" /> Serial No
                                    </label>
                                </div>
                                <div class="checkbox-item">
                                    <label>
                                        <input type="checkbox" asp-for="HasModelNo" /> Model No
                                    </label>
                                </div>
                            </div>

                            <div class="form-group" style="float:right">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#Configuration').addClass('menu-open');
            $('#ProductAddRecord').addClass('active');
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }



