@model app.Services.AttendanceServices.AttendanceViewModel
@{
    ViewData["Title"] = "AddRecord";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center  pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Index">Home</a></li>
                <li class="breadcrumb-item active"> Attendance List </li>
            </ol>
            <div>
                <a asp-action="Index"><i class="fa fa-list"></i>  Attendance List </a>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-info">
                    <i class="fas fa-plus"></i>
                    Add Attendance
                </h3>

            </div>
            <div class="card-body" id="myDIV">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="AddRecord" method="post" id="newsletter-form-result">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" />
                            <div class="row" id="rowId">
                                <div class="col-md-4" id="employeeName">
                                    <div class="form-group">
                                        @* <label>Employee Name</label> *@
                                        <label asp-for="EmployeeName" class="control-label"></label>
                                        <select class="form-control" asp-for="EmployeeId" asp-items="ViewBag.Employees" onchange="CheckAttandanceData()">
                                            <option value="0" selected>-- Select Employee --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        @* <label>Shift</label> *@
                                        <label asp-for="ShiftName" class="control-label"></label>
                                        <select class="form-control" asp-for="ShiftId" asp-items="ViewBag.Shifts">
                                            <option id="ddlChannel" value="0" selected>-- Select Shift --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4" id="attendanceDate">
                                    <div class="form-group">
                                        <label asp-for="AttendanceDate" class="control-label"></label>
                                        <input type="date" asp-for="AttendanceDate" class="form-control" required />
                                        <span asp-validation-for="AttendanceDate" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-4 d-block" id="LoginTimeDiv">
                                    <div class="form-group">
                                        <label asp-for="LoginTime" class="control-label"></label>
                                        <input type="time" asp-for="LoginTime" id="login" class="form-control" required />
                                        <span asp-validation-for="LoginTime" class="text-danger"></span>
                                    </div>
                                </div>

                                <div class="col-md-4 d-none" id="LogoutTimeDiv">
                                    <div class="form-group">
                                        <label asp-for="LogoutTime" class="control-label"></label>
                                        <input type="time" asp-for="LogoutTime" id="logout" class="form-control" required />
                                        <span asp-validation-for="LogoutTime" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4" id="Remarks">
                                    <div class="form-group">
                                        <label asp-for="Remarks" class="control-label"></label>
                                        <textarea id="Remarks" asp-for="Remarks" class="form-control" required rows="1"></textarea>
                                        <span asp-validation-for="Remarks" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="float:right">
                                <input type="submit" onclick="myFunction()" value="Login" id="saveButton" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>

        $(document).ready(function () {
            $('#Attendance').addClass('menu-open');
            $('#AttendanceAddRecord').addClass('active');
        });

        function CheckAttandanceData() {
            var employeeId = $("#EmployeeId").val();
            var attendanceDate = $("#AttendanceDate").val();
            var loginTimeDiv = document.getElementById("LoginTimeDiv");
            var logoutTimeDiv = document.getElementById("LogoutTimeDiv");
            // var formattedDate = moment(data.attendanceDate).format("YYYY-MM-DD");
            var submitButton = $("#saveButton");

            $.ajax({
                type: "GET",
                url: "/Attendance/CheckEmployeeTodaysAttendance",
                dataType: "json",
                data: { employeeId: employeeId, date: attendanceDate },
                success: function (data) {
                    if (data) {
                        $("#Id").val(data.id);
                        $("#EmployeeId").val(data.employeeId)/* .trigger() */;
                        $("#AttendanceDate").val(data.attendanceDate);
                        // $("#AttendanceDate").val(formattedDate);
                        if (data.shiftId > 0) {
                            $("#ShiftId").val(data.shiftId)/* .trigger() */;
                        }
                        // if (data.shiftId > 0) {
                        //     $("#ShiftId").val(data.shiftId).trigger("change");
                        // }

                        if (data.isLogin == true) {
                            loginTimeDiv.classList.remove("d-block");
                            loginTimeDiv.classList.add("d-none");
                            logoutTimeDiv.classList.remove("d-none");
                            logoutTimeDiv.classList.add("d-block");
                            $("#LoginTime").val(new Date());
                            submitButton.val("Logout");
                        } 
                        else {
                            loginTimeDiv.classList.remove("d-none");
                            loginTimeDiv.classList.add("d-block");
                            logoutTimeDiv.classList.remove("d-block");
                            logoutTimeDiv.classList.add("d-none");
                            $("#LogoutTime").val(new Date());
                            submitButton.val("Login");
                        }
                    }
                },
                error: function (error) {
                    console.error("Error in AJAX request:", error);
                }
            });
         }

    </script>
}



