@model app.Services.ATMAssemble.AssembleWorkServices.AssembleWorkViewModel
@{
    ViewData["Title"] = "Assemble Work";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Index">Home</a></li>
                <li class="breadcrumb-item active">Assemble Work Category</li>
            </ol>
            <div>
                <a asp-action="AssembleWorkMasterSlave"><i class="fa fa-list"></i> Assemble Work</a>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h5 class="text-secondary">
                    <i class="fas fa-plus"></i> Add Assemble Work
                </h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="AddRecord" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="container">
                                <div class="row align-items-start">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="form-label">Assemble Date</label>
                                            <input asp-for="AssembleDate" type="date" value="@DateTime.Now.ToString("dddd-MM-yyyy")" class="form-control" required />
                                            <span asp-validation-for="AssembleDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="form-label">Select Assemble</label>
                                            <select asp-for="AssembleWorkCategoryId" asp-items="ViewBag.AssembleWorkCategoryList" class="form-control" required>
                                                <option selected disabled>=Select Assemble=</option>
                                            </select>
                                            <span asp-validation-for="AssembleWorkCategoryId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label asp-for="AssembleTarget" class="form-label">Assemble Target</label>
                                            <input asp-for="AssembleTarget" class="form-control" required />
                                            <span asp-validation-for="AssembleTarget" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label class="form-label">Select Assemble</label>
                                            <select asp-for="EmployeeIds" asp-items="ViewBag.EmployeeList" class="form-control" required>
                                                <option selected disabled>=Select Employee=</option>
                                            </select>
                                            <span asp-validation-for="EmployeeIds" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label asp-for="Description" class="form-label"></label>
                                            <textarea asp-for="Description" class="form-control" rows="1"></textarea>
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <input type="submit" value="Create" class="btn btn-primary d-block w-100" style="margin-top: 30px" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            "use strict"

            $('#ATM-Assemble').addClass('menu-open');
            $('#AssembleWorkAssembleWorkMasterSlave').addClass('active');
        });
    </script>
}