@using app.Services.BankBranchServices
@using app.Utility;
@model BankBranchViewModel
@{
    ViewData["Title"] = "AddRecord";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center  pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Index">Home</a></li>
                <li class="breadcrumb-item active"> Bank Branch </li>
            </ol>
            <div>
                <a asp-action="Search"><i class="fa fa-list"></i> Bank Branch List </a>
            </div>
        </div>
    </div>
</div>



<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-info">
                    <i class="fas fa-plus"></i>
                    Add BankBranch
                </h3>

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="UpdateRecord" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label  class="control-label">Bank</label>
                                        <select asp-for="BankId" asp-items="ViewBag.BankList" class="form-control">
                                            <option value="0" selected>-- Select Dropdown Type --</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Name" class="control-label"></label>
                                        <input asp-for="Name" class="form-control" required />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Address" class="control-label">Address</label>
                                        <textarea asp-for="Address" class="form-control">

                                        </textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" style="float:right">
                                <input type="submit" value="Update" class="btn btn-warning" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('#Configuration').addClass('menu-open');
            $('#DropdownItemAddRecord').addClass('active');
        });
    </script>
}


