@model app.Services.MenuItemServices.MenuItemViewModel
@{
    ViewData["Title"] = "AddRecord";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<div class="content-header">
    <div class="container-fluid ">
        <div class="breadcrumb d-flex justify-content-between align-items-center  pl-3 pr-3">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="/Admin/Index">Home</a></li>
                <li class="breadcrumb-item active"> Menu Item </li>
            </ol>
            <div>
                <a asp-action="Search"><i class="fa fa-list"></i> Menu Item List </a>
            </div>
        </div>
    </div>
</div>



<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-info">
                    <i class="fas fa-plus"></i>
                    Add New Menu Item
                </h3>

            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form asp-action="AddRecord" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            @Html.HiddenFor(model => model.IsMenuShow)
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="MenuId" class="control-label">Menu</label>
                                        <select asp-for="MenuId" class="form-control" required asp-items="ViewBag.Record">
                                            <option value="">-- Select Menu --</option>
                                        </select>
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Name" class="control-label"></label>
                                        <input asp-for="Name" class="form-control" required />
                                        <span asp-validation-for="Name" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="ShortName" class="control-label"></label>
                                        <input asp-for="ShortName" class="form-control" required />
                                        <span asp-validation-for="ShortName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Icon" class="control-label"></label>
                                        <input asp-for="Icon" class="form-control" required />
                                        <span asp-validation-for="Icon" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Controller" class="control-label"></label>
                                        <input asp-for="Controller" class="form-control" required />
                                        <span asp-validation-for="Controller" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="Action" class="control-label"></label>
                                        <input asp-for="Action" class="form-control" required />
                                        <span asp-validation-for="Action" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label asp-for="OrderNo" class="control-label"> Order No</label>
                                        <input asp-for="OrderNo" class="form-control" required />
                                        <span asp-validation-for="OrderNo" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="form-group" style="float:right">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts {
    <script>
        $(document).ready(function () {
            $('#User-Management').addClass('menu-open');
            $('#MenuItemAddRecord').addClass('active');
        });
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }

